# adapted from https://raw.githubusercontent.com/nicolashery/mac-dev-setup/master/.aliases

# detect proper `ls` color flag
colorflag=$(ls --color &> /dev/null && echo '--color' || echo '-G')
# always use colorized output
alias ls="command ls $colorflag"
# list everything
alias la='ls -lha'

# ftp server
alias ftp-start='sudo -s launchctl load -w /System/Library/LaunchDaemons/ftp.plist'
alias ftp-stop='sudo -s launchctl unload -w /System/Library/LaunchDaemons/ftp.plist'

# removes top-level `node_modules` directoires from default dropbox location
alias clean-dropbox='find "$HOME/Dropbox" -type d -name node_modules ! -path "*/node_modules/*" -print0 | xargs -0 rm -rf'

# installs a set of global npm packages
alias install-npm-globals='npm i -g gulp-cli npm-check-updates serverless yarn'

# removes all .DS_Store files on primary drive
alias dsnuke='echo "dsnuke will search your disk and remove .DS_Store files -- you may need to enter your password." && sudo find -x / -type f -name .DS_Store -delete && echo "done."'
