# handy bash aliases

# detect correct color flag for directory listings
colorflag=$(ls --color &> /dev/null && echo '--color' || echo '-G')
# always use colorized output
alias ls="command ls $colorflag"
# list everything in long format
alias la='ls -lha'

# ftp server
alias ftp-start='sudo -s launchctl load -w /System/Library/LaunchDaemons/ftp.plist'
alias ftp-stop='sudo -s launchctl unload -w /System/Library/LaunchDaemons/ftp.plist'

# removes top-level `node_modules` directoires from default dropbox location
alias clean-dropbox='find "$HOME/Dropbox" -type d -name node_modules ! -path "*/node_modules/*" -print0 | xargs -0 rm -rf'

# installs a set of global npm packages
alias install-npm-globals='npm i -g gulp-cli npm-check-updates serverless yarn'
