# shellcheck shell=bash
# vim: ft=sh
# awesome bash aliases

# get a common execution environment
[[ ! $MJS_COMMON_ENV ]] && . "$MJS_BASE/common.sh"

# removes top-level `node_modules` directories from default dropbox location
alias clean-dropbox='find "$HOME/Dropbox" -type d -name node_modules ! -path "*/node_modules/*" -print0 | xargs -0 rm -rf'

# empty user trash
alias emptrash='rm -rf $HOME/.Trash/*'

# homebrew helpers
# review installed homebrew formulae
alias breview='for f in $(brew leaves); do brew rmtree "$f"; done'
# bring local homebrew up-to-date
alias rebrew='for c in {up{date,grade},doctor,"cleanup -s"}; do brew $c; done'

# list directories
# long format
# alias la='ls -lha'
# colorized output
alias ls="command ls -G"

# nvim ide
alias nide='abda nvim term://bash'

# run linker script
alias relink='"$MJS_BASE/scripts/01_linker.sh" && sour'

# source ~/.bash_profile
alias sour='source "$HOME/.bash_profile" && echo -e "$DONE_MSG"'

# replacements
alias cat='bat'
alias la='exa -ahl'
alias tree='exa -Ta'

# docker run remove
alias dckrrr='docker run --rm -it -v "$PWD":/tmp/d -w /tmp/d'

# fzf preview
alias pvf='fzf --preview "bat --style=numbers --color=always --line-range :500 {}"'
alias pvim='fzf --preview "bat --style=numbers --color=always --line-range :500 {}" | xargs nvim'

# strip newlines in clipboard
alias stripclip='pbpaste | tr -d "\n" | pbcopy'

# reboots in windows on external ssd
alias reboot-camp='sudo bless --device /dev/disk2s2 --nextonly --setBoot && sudo reboot'
