# editors
export VISUAL=vim
export EDITOR="$VISUAL"

# homebrew cask
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# custom python modules
export PYTHONPATH=$HOME/python

# primary ssh public key
export SSH_KEY=$HOME/.ssh/id_rsa
