# shellcheck shell=bash
# vim: ft=sh
# export environment variables

# this repo!
export MJS_BASE="$HOME/macos-jump-start"

# terminal basics
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
export TERM=${TERM:-xterm-256color}

# colors
. "$MJS_BASE/dotfiles/.colors"

# editors
# shellcheck disable=SC2155
export EDITOR=$([[ -z $NVIM_LISTEN_ADDRESS ]] && echo "nvim" || echo "nvr -l --remote-wait-silent")
export VISUAL="$EDITOR"

# fd-powered fzf
fzf_cmd="fd -HL -E .git -E gdrive -E mnt -E node_modules"
# files in cwd
export FZF_DEFAULT_COMMAND="$fzf_cmd -t f ."
# anything in home
export FZF_CTRL_T_COMMAND="$fzf_cmd . $HOME"
# directories in home
export FZF_ALT_C_COMMAND="$fzf_cmd -t d . $HOME"
unset fzf_cmd

# git email and username
GIT_EMAIL=$(git config --global user.email 2> /dev/null)
if [[ $GIT_EMAIL ]]; then
  export GIT_EMAIL
else
  unset GIT_EMAIL
fi
GIT_USERNAME=$(git config --global user.name 2> /dev/null)
if [[ $GIT_USERNAME ]]; then
  export GIT_USERNAME
else
  unset GIT_USERNAME
fi

# hist
export HISTCONTROL=ignoreboth
export HISTFILE="$HOME/.eternal_history"
export HISTFILESIZE=
export HISTSIZE=
export HISTTIMEFORMAT="[%FT%T%z]|"
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

# nvm
export NVM_DIR="$HOME/.nvm"

# sc options
export SHELLCHECK_OPTS="-e SC1090"
