# editors
export VISUAL=vim
export EDITOR="$VISUAL"

# make brew cask symlink apps to /Applications
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# custom python modules
export PYTHONPATH=$HOME/python

# primary ssh key pair
export SSH_PRIVATE_KEY=$HOME/.ssh/id_ed25519
export SSH_PUBLIC_KEY=$HOME/.ssh/id_ed25519.pub

# gopath
export GOPATH=$HOME/go

# nvm
export NVM_DIR=$HOME/.nvm
