# convert audio files in current directory to mp3 and save to ./output/
function aconvert {
    mkdir output
    for file in *.$1; do
        ffmpeg -i "$file" -acodec libmp3lame -ab 320k "output/${file[@]/%$1/mp3}"
    done
}

# expand a path to an absolute path
function realpath {
    [[ $1 = /* ]] && echo "$1" || echo "$PWD/${1#./}"
}

# source a script and complain nicely if it doesn't exist
function safesource {
    if [ $# -eq 0 ]; then
        echo "nothing to source!"
    else
        if [ -r $1 ]; then
            . $1 && echo "${GREEN}done.${RESET}"
        else
            echo "could not find $1"
        fi
    fi
}

# quickly symlink dotfiles by running the linker script
function relink {
    safesource $HOME/osx-jump-start/scripts/02_linker.sh
}

# quickly source ~/.bash_profile
function sour {
    safesource $HOME/.bash_profile
}

# homebrew stuff
# check whether a given cask is already installed
function brew_cask_installed {
    brew cask list -1 | fgrep -qx $1
}

# install a cask formula
function brew_cask_install {
    if brew_cask_installed $1; then
        echo "$BLUE$1$RESET is already installed."
    else
        brew cask install $1
    fi
}

# check whether a given formula is already installed
function brew_installed {
    brew list -1 | fgrep -qx $1
}

# install a homebrew formula
function brew_install {
    if brew_installed $1; then
        echo "$BLUE$1$RESET is already installed."
    else
        brew install $1
}

# check whether a given tap is already tapped
function brew_tapped {
    brew tap | fgrep -qx $1
}

# taps a homebrew tap
function brew_tap {
    if brew_tapped $1; then
        echo "$BLUE$1$RESET is already tapped."
    else
        brew tap $1
    fi
}
