# Creates a directory and immediately cd's into it
function mkcd {
    mkdir -p $1 && cd $1
}

# Expand a path to an absolute path
function realpath {
    [[ $1 = /* ]] && echo "$1" || echo "$PWD/${1#./}"
}

# Quickly symlink dotfiles
function relink {
    script=$HOME/osx-jump-start/scripts/linker.sh
    if [ -r $script ]; then
        exec $script
    else
        echo "Could not find linker.sh"
    fi
}

# Quickly source ~/.bash_profile
function sour {
    . $HOME/.bash_profile && echo $PURPLE"sourced ~/.bash_profile"$RESET
}

# Update and upgrade all package managers
function up {
    echo "===== HOMEBREW ====="
    brew update
    brew upgrade --all
    brew cleanup
    brew doctor

    echo "===== PIP ====="
    pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U

    echo "===== PIP3 ====="
    pip3 freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U

    echo "===== NPM ====="
    npm update -g
}
