# Adapted from https://raw.githubusercontent.com/nicolashery/mac-dev-setup/master/.gitignore

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Python files
.Python
*.pyc
venv
bin
include
lib
pyvenv.cfg
pip-selfcheck.json

# Java files
*.class
.gradle
build

# Node files
node_modules

# other
.sass-cache
