# folder view configs
.DS_Store
Desktop.ini

# thumbnail cache
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes

# build directories
build
dist

# python
.Python
*.pyc
venv

# java
*.class
.gradle

# node
node_modules

# bower
bower_components

# other
assets
.sass-cache
*.swp
