<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thekelvinliu.gdfs-defaults</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>cd &amp;&amp; mkdir -p enc mnt &amp;&amp; ln -hfs &quot;/Volumes/GoogleDrive/My Drive/space&quot; gdrive &amp;&amp; rm -f &quot;Google Drive File Stream&quot;</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
