<!-- removes .DS_Store files hourly -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thekelvinliu.dsnuke</string>
  <key>ProgramArguments</key>
  <array>
    <!-- this will remove .DS_Store ONLY on main -->
    <string>find</string>
    <string>-x</string>
    <string>/</string>
    <string>-type</string>
    <string>f</string>
    <string>-name</string>
    <string>.DS_Store</string>
    <string>-delete</string>
    <!-- this will remove .DS_Store on ALL volumes -->
    <!-- <string>bash</string> -->
    <!-- <string>-c</string> -->
    <!-- <string>find / -path /dev -prune -o -type f -name .DS_Store -print | xargs rm</string> -->
  </array>
  <!-- automatically starty -->
  <key>RunAtLoad</key>
  <true/>
  <!-- 1 hour -->
  <key>StartInterval</key>
  <integer>3600</integer>
</dict>
</plist>
